/home/user3t/Workspace/projects/in-process/doan/Do-an-doc/Tài liệu/3. Thầy đưa quyển đồ án và mã nguồn xử lý năm trước/source_code_face_recognition/python=3.10.12
/home/user3t/Workspace/projects/in-process/doan/Do-an-doc/Tài liệu/3. Thầy đưa quyển đồ án và mã nguồn xử lý năm trước/source_code_face_recognition/.venv
