/38 hours deep learning for computer vision/1.Car Price Prediction/train.csv
/38 hours deep learning for computer vision/2.Malaria Diagnosis/logs.csv
/38 hours deep learning for computer vision/2.Malaria Diagnosis/model.keras
/38 hours deep learning for computer vision/2.Malaria Diagnosis/model_metrics.keras
